@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fresher Management</h1>
</div>
<div >
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
        <li>@Html.ActionLink("Fresher", "Index", "Fresher/Fresher")</li>
        <li>@Html.ActionLink("Mentor", "Index", "Mentor")</li>
    </ul>
</div>


